﻿@model Poodle_e_Learning_Platform.ViewModels.Course.EnrollViewModel

@{
    ViewData["Title"] = "Enroll Students";
}

<h2>Enroll Students</h2>
<h3>@Model.CourseName</h3>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Enroll</th>
            <th scope="col">Unenroll</th>
        </tr>
    </thead>

    <tdata>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Email</td>
                @if (student.IsEnrolled)
                {

                    <td><button type="button" onclick="enroll(@student.Id, @Model.CourseId)" oncli class="btn btn-success" disabled>Enroll</button></td>
                    <td><button type="button" onclick="Unenroll(@student.Id, @Model.CourseId)" class="btn btn-warning">Unenroll</button></td>
                }
                else
                {
                    <td><button type="button" onclick="enroll(@student.Id, @Model.CourseId)" class="btn btn-success">Enroll</button></td>
                    <td><button type="button" onclick="Unenroll(@student.Id, @Model.CourseId)" class="btn btn-warning" disabled>Unenroll</button></td>
                }

            </tr>
        }
    </tdata>
</table>

<a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId">Back to course</a>

<script>
    function enroll(userId, courseId) {
        $.ajax({
            url: `/api/EnrollmentsApi/IsEnrolled?userId=${userId}&courseId=${courseId}`,
            method: 'GET',
            success: function(data) {
                alert('Current user is already enrolled!');
            },
            error: function(error) {
                const Http = new XMLHttpRequest();
                let protocol = window.location.protocol;
                let domain = window.location.host;
                const url = `${protocol}//${domain}/Enrollment/Enroll?userId=${userId}&courseId=${courseId}`;
                Http.open("GET", url);
                Http.send();
                location.reload(true);
            }
        });
    }
    function Unenroll(userId, courseId) {
        $.ajax({
            url: `/api/EnrollmentsApi/IsEnrolled?userId=${userId}&courseId=${courseId}`,
            method: 'DELETE',
            success: function(data) {
                const Http = new XMLHttpRequest();
                let protocol = window.location.protocol;
                let domain = window.location.host;
                const url = `${protocol}//${domain}/Enrollment/Unenroll?userId=${userId}&courseId=${courseId}`;
                Http.open("DELETE", url);
                Http.send();
                location.reload(true);
            },
            error: function(error) {
                alert('Current user is Unenrolled!');
            }
        });
    }
</script>
