﻿@using System.Security.Claims
@model Poodle_e_Learning_Platform.ViewModels.Course.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>*@

<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Course details</h1>
            </div>
            @if (!userService.IsTeacher(int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))))
            {
                <div class="col">
                    <button style="position:center; right:0px;" class="btn btn-warning"><a asp-controller="Enrollment" asp-action="UnenrollStudent" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-route-courseId="@Model.Id">Unenroll</a> </button>

                </div>
            }


        </div>

    </div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>

<h2>Content</h2>

<div class="row">
    @foreach (var sectionItem in Model.Sections)
    {
        <div class="col-sm-6" style="margin-top:1%">
            <div class="card">
                <div class="card-body">

                    @if (@Model.StartDate > DateTime.Now)
                    {
                        <h5 class="card-title">@sectionItem.Title</h5>
                        <p>This resourse will be open on: @Model.StartDate.ToString("dd.MM.yyyy")</p>
                    }
                    else
                    {
                        <a asp-controller="Sections" asp-action="Details" asp-route-id="@sectionItem.Id"><h5 class="card-title">@sectionItem.Title</h5></a>    
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (userService.IsTeacher(int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))))
                        {
                            <a class="btn btn-danger" asp-controller="Sections" asp-action="Delete" asp-route-id="@sectionItem.Id" asp-route-returnCourseId="@Model.Id"><small>delete</small></a>
                            <a class="btn btn-warning" asp-controller="Sections" asp-action="Edit" asp-route-id="@sectionItem.Id"><small>Edit</small></a>
                        }
                    }
                </div>
            </div>
        </div>
    }

</div>
@{
    /*
<div class="row">
    <div style="display:grid; grid-template-columns:1fr 1fr 1fr;">
        <div style="background-color:black;"></div>
        <div style="background-color:gray;">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div style="background-color:red;"></div>
    </div>
</div>
*/
}
<div>
    @if (User.Identity.IsAuthenticated)
    {
        @if (userService.IsTeacher(int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))))
        {
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

            @if (Model.IsPrivate)
            {
                <a class="btn btn-success" asp-controller="Enrollment" asp-action="GetEnroll" asp-route-courseId="@Model.Id">Entroll students</a>
            }
        }
    }

    <a class="btn btn-info"  asp-action="Index">Back to List</a>
</div>
@if (User.Identity.IsAuthenticated)
{
    //to get Id of user
    @if (userService.IsTeacher(int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))))
    {
        <div asp-validation-summary=All>
        </div>

        <form asp-controller="Sections" asp-action="Create" type="post">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="@Model.SectionInputModel.Title"></label>
                    <input asp-for="@Model.SectionInputModel.Title" name="title" id="title" class="form-control" />
                    <div class="text-danger">
                        <span asp-validation-for="@Model.SectionInputModel.Title"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SectionInputModel.Content"></label>
                    <input asp-for="@Model.SectionInputModel.Content" id="content" name="content" class="form-control" />
                    <div class="text-danger">
                        <span asp-validation-for="@Model.SectionInputModel.Content"></span>
                    </div>
                </div>
                <input type="hidden" id="courseId" name="courseId" value="@Model.Id" />
            </div>

            <button class="btn btn-success" type="submit">Create section</button>
        </form>
    }
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
