﻿@using System.Security.Claims
@model IEnumerable<Poodle_e_Learning_Platform.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

@if (userService.IsTeacher(int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))))
{
    <p>
        <a class="btn btn-success" asp-action="Create">Create New Course</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="Courses" asp-action="Index" asp-route-orderBy="title">@Html.DisplayNameFor(model => model.Title)</a>
            </th>

            <th>
                <a asp-controller="Courses" asp-action="Index" asp-route-orderBy="Description">@Html.DisplayNameFor(model => model.Description)</a>
            </th>

            @if (userService.IsTeacher(int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))))
            {
                <th>
                    <a asp-controller="Courses" asp-action="Index" asp-route-orderBy="IsPrivate">@Html.DisplayNameFor(model => model.IsPrivate)</a>
                </th>
                <th>
                    <a asp-controller="Courses" asp-action="Index" asp-route-orderBy="Created">@Html.DisplayNameFor(model => model.Created)</a>
                </th>
            }

            <th>
                <a asp-controller="Courses" asp-action="Index" asp-route-orderBy="StartDate">@Html.DisplayNameFor(model => model.StartDate)</a>
            </th>
            <th>
                <a asp-controller="Courses" asp-action="Index" asp-route-orderBy="EndDate">@Html.DisplayNameFor(model => model.EndDate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (userService.IsTeacher(int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))))
            {
                <tr>

                    <td>
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                    </td>
                    <td>
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.Description</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPrivate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        <a style="width: 80px; margin:2%;" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a style="width: 80px; margin:2%;" class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        <a style="width: 80px; margin:2%;" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    </td>
                </tr>

            }
            else
            {
                //added end date check about courses for students
                @if (item.EndDate > DateTime.Now)
                {
                    <tr>

                        <td>
                            <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                        </td>
                        <td>
                            <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.Description</a>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>

                    </tr>
                }
            }
        }
    </tbody>
</table>

@*<script>
    window.onload = function() {
        let body = document.getElementsByTagName('body')[0];
        body.style.backgroundImage = 'C:\Desktop\Poodle e-Learning Platform\Poodle e-Learning Platform\wwwroot\Pictures\img2.png';
    }
</script>*@


