﻿@using System.Security.Claims
@model Poodle_e_Learning_Platform.ViewModels.Home.IndexViewModel

<div class="text-center">
    <h1 class="display-4">Welcome in our e-Learning platform</h1>
</div>

<div class="row">
    @foreach (var course in Model.Items.Skip(Model.Skip).Take(Model.Take))
    {
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@course.ImagePath" alt="Card image cap">  @* how to get image for single course*@
                <div class="card-body">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id"><h5 class="card-title">@course.Title</h5></a>
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id"><p class="card-text">@course.Content</p></a>
                    }
                    else
                    {
                        <h5 class="card-title">@course.Title</h5>
                        <p class="card-text">@course.Content</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
<div style="display:grid; grid-template-columns:1fr 1fr 1fr;">
    <div></div>
    <div>
        <nav aria-label="...">
            <ul class="pagination">

                @if (@Model.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Courses" asp-action="StudentCourses" asp-route-studentId = "@User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-route-page="@Model.PrevPage">Previous</a>
                    </li>
                }

                @for (int i = 1; i <= Model.PagesCount; i++)
                {
                    @if (i == Model.CurrentPage)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-controller="Courses" asp-action="StudentCourses" asp-route-studentId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-route-page="@i">@i <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-controller="Courses"asp-action="StudentCourses" asp-route-studentId="@User.FindFirstValue(ClaimTypes.NameIdentifier)"  asp-route-page="@i">@i</a></li>
                    }
                }

                @if (Model.CurrentPage == Model.PagesCount)
                {
                    <li class="page-item disabled">
                        <a class="page-link" asp-controller="Courses" asp-action="StudentCourses" asp-route-studentId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-route-page="@Model.NextPage">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Courses"asp-action="StudentCourses" asp-route-studentId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-route-page="@Model.NextPage">Next</a>
                    </li>
                }

            </ul>
        </nav>
    </div>
    <div></div>
</div>