﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "";

}


<!DOCTYPE html>
<html lang="en">

<head>
    @if (SignInManager.IsSignedIn(User))
    {
        <style>

            body {
                overflow: hidden; /* Hide scrollbars */
            }
        </style>
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="icon" href="~/images/testlogo.png" type="image/icon type">
    <title>Poodle-E-Learning platform</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/fonts/icomoon/1bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/fonts/icomoon/1font-awesome.css">

    <link rel="stylesheet" href="~/fonts/icomoon/1templatemo-training-studio.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/icomoon/coursesite.css">

    <link rel="stylesheet" type="text/css" href="~/fonts/icomoon/footerstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <img src="~/images/testlogo1.png" alt="" style="width:8rem">
                        <!-- <a href="index.html" class="logo">POODLE<em> .COM</em></a> -->
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            @*@if (userService.IsTeacher(int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))))
                            {
                            }*@
                                <li class="scroll-to-section"><a href="/swagger">Swagger</a></li>
                            <li class="scroll-to-section">
                                <a class="active" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <li class="scroll-to-section"><a href="#features">About</a></li>
                            }
                            <!--  <li class="scroll-to-section"><a href="#our-classes">Classes</a></li>
                            <li class="scroll-to-section"><a href="#schedule">Schedules</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            -->
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <li class="scroll-to-section"><a asp-area="Identity" asp-page="/Account/Login">Sign In</a></li>
                            }
                            else
                            {

                                <li class="main-button scroll-to-section">
                                    <a asp-area="Identity" asp-page="/Account/Logout" style="background-color: red">Sign Out</a>
                                </li>
                            }
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="~/images/video.mp4" type="video/mp4" />
        </video>


        @if (SignInManager.IsSignedIn(User))
        {
            <div class="video-overlay header-text">
                <div class="caption">
                    @{
                        string s = User.Identity.Name.ToString();

                    }
                    <!-- to change display name from Firstname instead email??-->
                    <h2>Hello, <em>@s.Substring(0, s.IndexOf("@"))</em></h2>
                    <div class="main-button scroll-to-section">
                        @*<a asp-controller="Courses" asp-action="CoursesGet">View my courses</a>*@
                        <a asp-controller="Courses" asp-action="StudentCourses" asp-route-studentId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">View my courses</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="video-overlay header-text">
                <div class="caption">
                    <h6>over 6 000 000 materials and videos</h6>
                    <h2>Easy learning with <em>poodle</em></h2>
                    <div class="main-button scroll-to-section">
                        <a asp-area="Identity" asp-page="/Account/Register">Become a member</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Features Item Start ***** -->
    <!--start carrousel-->

    <section class="section" id="features">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 offset-lg-3">

                    <div class="section-heading">
                        <h2><em>Learn more</em> about</h2>
                        <h2>Our <em>courses</em></h2>
                        <img src="~/images/line-dec.png" alt="waves">
                        <p>
                            Master your software knowledge with lessons, quizzes, and projects designed for real-life scenarios. Create portfolio projects that showcase your new skills to help land your dream job. Choose Your Skill Path. Free 7 Day Pro Trial. Beginner-Friendly. Upgrade Your Career Today.
                        </p>
                    </div>

                </div>
                <div id="va_container">
                    <button class="deals-scroll-left deals-paddle">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                             class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 320 512">
                            <path fill="currentColor"
                                  d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                            </path>
                        </svg>
                    </button>


                    <div class="div-center">
                        <h2 class="h4 va-carrousel-title" style="color: dimgray">
                            <em>Explore part of our public Courses</em>
                        </h2>
                        <Br>
                        <h4 class="h4">
                        </h4>
                    </div>
                    <div class="va-carrousel-flexbox">
                        <div class="va-card">
                            <a class="link-plain" href="">
                                <img class="va-thumbnail"
                                     src=https://i.imgur.com/1MCD2fy.png>
                                <div class="va-title">C# </div>
                                <div class="va-start-from">Learn more with our new platform. Site terms may apply.</div>
                            </a>
                        </div>
                        <div class="va-card">
                            <a class="link-plain" href="">
                                <img class="va-thumbnail"
                                     src="https://i.imgur.com/1VSA22T.png">
                                <div class="va-title">HTML 5 </div>
                                <div class="va-start-from">Learn more with our new platform. Site terms may apply.</div>
                            </a>
                        </div>
                        <div class="va-card">
                            <a class="link-plain" href="">
                                <img class="va-thumbnail"
                                     src="https://i.imgur.com/M2LBHcq.png">
                                <div class="va-title">Java Script </div>
                                <div class="va-start-from">Learn more with our new platform. Site terms may apply.</div>
                            </a>
                        </div>
                        <div class="va-card">
                            <a class="link-plain" href="">
                                <img class="va-thumbnail"
                                     src="~/images/csslogo.jpg">
                                <div class="va-title">CSS </div>
                                <div class="va-start-from">Learn more with our new platform. Site terms may apply.</div>
                            </a>
                        </div>

                        <div class="va-card">
                            <a class="link-plain" href="">
                                <img class="va-thumbnail"
                                     src="~/images/git.png">
                                <div class="va-title">GIT </div>
                                <div class="va-start-from">Learn more with our new platform. Site terms may apply.</div>
                            </a>
                        </div>


                        <button class="deals-scroll-right deals-paddle">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                                 class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 320 512">
                                <path fill="currentColor"
                                      d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                </path>
                            </svg>
                        </button>
                    </div>


                </div>



            </div>
        </div>

    </section>



    <div class="footer-dark" style="padding-top: 0px; padding-bottom: 0px;">
        <footer>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Privacy Statement</h3>
                        <p style="color:lightgrey">Your privacy is important to us. We respect your right to protect your personal data and understand your desire to avoid unwarranted solicitations. We understand the importance of confidentiality. </p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright" style="color:lightgrey">Poodle Inc. © 2022 </p>
            </div>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    <!--end carrousel-->
    @*    @if (!SignInManager.IsSignedIn(User))
    {
    <section class="section" id="features">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 offset-lg-3">
    <div class="section-heading">
    <h2>Some of our <em>courses</em></h2>
    <img src="~/images/line-dec.png" alt="waves">
    <p>Poodle-E-Learning is a platform for getting the best courses you need. You will improve your skills fast and easy.</p>
    </div>
    </div>

    <div class="col-lg-6">
    <ul class="features-items">
    <li class="feature-item">
    <div class="left-icon">
    <img src="~/images/features-first-icon.png" alt="First One">
    </div>
    <div class="right-content">
    <h4>C#</h4>
    <p>Take online courses in C# (C Sharp). C# courses are available to try for free. Learn C# programming today.</p>
    <a href="#" class="text-button">Discover More</a>
    </div>
    </li>
    <li class="feature-item">
    <div class="left-icon">
    <img src="~/images/features-first-icon.png" alt="second one">
    </div>
    <div class="right-content">
    <h4>C++</h4>
    <p>Learn the advanced programming topics in the C++ programming language, including functions, arrays...</p>
    <a href="#" class="text-button">Discover More</a>
    </div>
    </li>
    <li class="feature-item">
    <div class="left-icon">
    <img src="~/images/features-first-icon.png" alt="third gym training">
    </div>
    <div class="right-content">
    <h4>C</h4>
    <p>Take online C courses. Learn C programming skills to advance your education and career today!</p>
    <a href="#" class="text-button">Discover More</a>
    </div>
    </li>
    </ul>
    </div>
    <div class="col-lg-6">
    <ul class="features-items">
    <li class="feature-item">
    <div class="left-icon">
    <img src="~/images/features-first-icon.png" alt="fourth muscle">
    </div>
    <div class="right-content">
    <h4>Java</h4>
    <p>You may want to browse through <a rel="nofollow" href="https://templatemo.com/tag/digital-marketing" target="_parent">Digital Marketing</a> or <a href="https://templatemo.com/tag/corporate">Corporate</a> HTML CSS templates on our website.</p>
    <a href="#" class="text-button">Discover More</a>
    </div>
    </li>
    <li class="feature-item">
    <div class="left-icon">
    <img src="~/images/features-first-icon.png" alt="training fifth">
    </div>
    <div class="right-content">
    <h4>HTML</h4>
    <p>This template is built on Bootstrap v4.3.1 framework. It is easy to adapt the columns and sections.</p>
    <a href="#" class="text-button">Discover More</a>
    </div>
    </li>
    <li class="feature-item">
    <div class="left-icon">
    <img src="~/images/features-first-icon.png" alt="gym training">
    </div>
    <div class="right-content">
    <h4>JavaScript</h4>
    <p>Suspendisse fringilla et nisi et mattis. Curabitur sed finibus nisi. Integer nibh sapien, vehicula et auctor.</p>
    <a href="#" class="text-button">Discover More</a>
    </div>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </section>
    <!-- ***** Features Item End ***** -->
    }*@

    <!-- jQuery -->
    <script src="~/fonts/icomoon/1jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/fonts/icomoon/1popper1.js"></script>
    <script src="~/fonts/icomoon/1bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/fonts/icomoon/1scrollreveal.min.js"></script>
    <script src="~/fonts/icomoon/1waypoints.min.js"></script>
    <script src="~/fonts/icomoon/1jquery.counterup.min.js"></script>
    <script src="~/fonts/icomoon/1imgfix.min.js"></script>
    <script src="~/fonts/icomoon/1mixitup.js"></script>
    <script src="~/fonts/icomoon/1accordions.js"></script>
    <script src="~/fonts/icomoon/coursecarrousel.js"></script>
    <!-- Global Init -->
    <script src="~/fonts/icomoon/1custom.js"></script>

</body>
</html>

@*
@{


    @*<script>
    window.onload = function() {
    let div = document.createElement('div');
    let height = document.body.clientHeight;
    let width = document.body.clientWidth;
    div.style.height = `${height}px`;
    div.style.widht = `${width}px`;
    div.style.backgroundColor = 'red';
    let item = document.getElementsByClassName('container')[1];
        item.insertBefore(div, item.firstChild);
        }
    </script>


}*@