﻿@model Poodle_e_Learning_Platform.ViewModels.Sections.SectionDetailsViewModel

<h1>@Model.Title</h1>

<p>@Html.Raw(Model.Content)</p>

<hr/>

<a class="btn btn-danger" asp-action="Details" asp-controller="Courses" asp-route-id="@Model.CourseId">Back</a>

