﻿@model Poodle_e_Learning_Platform.InputModels.Section.EditSectionInputModel
<!--TinyMCE editor-->
<head>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '#content',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
                'alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
        });
    </script>
</head>

<h1>@Model.CourseTitle</h1>
<form asp-controller="Sections" asp-action="Edit" class="form-group" method="post">

    <div class="form-group">
        <label asp-for="@Model.Title" class="form-label"></label>
        <input asp-for="@Model.Title" class="form-control"/>
        <span asp-validation-for="@Model.Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Order" class="form-label"></label>
        <input asp-for="@Model.Order" class="form-control"/>
        <span asp-validation-for="@Model.Order"></span>
    </div>

    <textarea asp-for="@Model.Content" id="content" name="content">Hello, World!</textarea>
    <input asp-for="@Model.SecitonId" value="@Model.SecitonId" type="hidden" />
    <input asp-for="@Model.CourseId" value="@Model.CourseId" type="hidden" />
    <button type="submit" class="btn btn-success">Update</button>
    <button class="btn btn-warning" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId">Cancel</button>
</form>

