﻿@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/images/testlogo.png" type="image/icon type"> <!--test favicon-->
    <title>@ViewData["Title"] - Poodle_e_Learning_Platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--
    <link rel="stylesheet" href="~/css/site.css" />
    -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
     -->
    <!-- Style -->
    <link rel="stylesheet" href="~/fonts/icomoon/astyle.css">

    <style>
        body {
            background-image: url('../../Pictures/img2.png');
            background-size: 2000px 1000px;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
       
   
</head>
<body>
    

    <aside class="sidebar">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="side-inner">

            <a asp-controller="Home" asp-action="Index"><img src="~/images/testlogo.png" style="width: 4rem;" alt=""></a>


            <div class="search-form">
                <form action="#">
                    <span class="wrap-icon">
                        <span class="icon-search2"></span>
                    </span>

                </form>
            </div>
            <div class="nav-menu">
                <ul>
                    <partial name="_LoginPartial" />
                    <!--<li><span class="wrap-icon icon-user mr-3"><partial name="_LoginPartial" /></span></li> ???????-->
                    <!--
                    <li><a asp-controller="ApplicationUsers" asp-action="Edit" class="d-flex align-items-center"><span class="wrap-icon icon-user mr-3"></span><span class="menu-text">Edit Profile</span></a></li>
                    -->
                    <li><a title="Home" asp-controller="Home" asp-action="Index" class="d-flex align-items-center"><span class="wrap-icon icon-home mr-3"></span><span class="menu-text">Home</span></a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a title="Courses" asp-controller="Courses" asp-action="Index" class="d-flex align-items-center"><span class="wrap-icon icon-list2 mr-3"></span><span class="menu-text">Courses</span></a></li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (userService.IsTeacher(int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))))
                        {
                            <li>
                                <a title="Students" asp-controller="ApplicationUsers" asp-action="Index" class="d-flex align-items-center"><span class="wrap-icon icon-group mr-3 mr-3"></span><span class="menu-text">Students</span></a>
                            </li>
                        }

                        <li>
                            <a title="Logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" }) class="d-flex align-items-center"><span class="wrap-icon icon-power-off mr-3"></span><span class="menu-text">Sign Out</span></a>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </aside>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

           
           
            
        </main>

    </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/fonts/icomoon/jquery-3.3.1.min.js"></script>
    <script src="~/fonts/icomoon/popper.min.js"></script>
    <script src="~/fonts/icomoon/bootstrap.min.js"></script>
    <script src="~/fonts/icomoon/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



