﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link " asp-controller="ApplicationUsers" asp-action="Details" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)" title="Manage"><span class="wrap-icon icon-user mr-3 mr-3"></span><span class="menu-text">Hello @User.Identity.Name!</span></a>
    </li>
    /*
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
    */
}
else
{
<li class="nav-item">
    <a title="Register" asp-area="Identity" asp-page="/Account/Register" class="d-flex align-items-center"><span class="wrap-icon icon-user-plus"></span><span class="menu-text">&nbsp&nbsp&nbspRegister</span></a>
</li>
<li class="nav-item">
    <a title="Log in" asp-area="Identity" asp-page="/Account/Login" class="d-flex align-items-center"><span class="wrap-icon icon-user-o"></span><span class="menu-text">&nbsp&nbsp&nbspLogin</span></a>

</li>
}
</ul>
