﻿@{
    Layout = "";

}




<style>
    body {
        background-image: url('../../Pictures/img2.png');
        background-size: 2000px 1000px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>



<head>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="~/fonts/icomoon/dinostyle.css" rel="stylesheet" />
</head>
<body>
    
        <img src="~/images/testlogo.png" alt="Alternate Text" />
        <a class="message" href="/home">
            You are not authorized.
        </a>

        
        <div class="container">
            <div class="neon">403</div>
            <div class="door-frame">
                <div class="door">
                    <div class="rectangle">
                    </div>
                    <div class="handle">
                    </div>
                    <div class="window">
                        <div class="eye">
                        </div>
                        <div class="eye eye2">
                        </div>
                        <div class="leaf">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</body>












